table{
    width: 100%;
    color: black;
    border-radius: 2px;
    margin: 10px 0;
    border: 1px solid #282c34;
    background-color: #dcdcdc;
    tr{
        height: 24px;
        line-height: 24px;
    }
    .head-container{
        background-color: #282c34;
        color: white;
    }
}

.rank-top3{
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    td{
        line-height: 36px;
    }
}

.rank-position{
    position: relative;
    img{
        position: absolute;
        left: 10px;
        top: 3px;
        height: 30px;
    }
}