table{
    width: 100%;
    color: white;
    border-radius: 2px;
    margin: 10px 0;
    border: 1px solid #282c34;
    background-color: #a5a5a5;
    tr{
        height: 24px;
        line-height: 24px;
    }
    .head-container{
        background-color: #282c34;
    }
}



.icon-column{
    display: flex;
    img{
        height: 22px;
        margin-left: auto;
    }
}
