.analyzer-container{
    margin-bottom: 100px;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

hr{
    margin: 20px 0;
}

.bx--row{
    margin: 10px 0;
}

.img{
    img{
        height: 200px;
    }
}

.text{
    text-align: left;
    font-size: 18px;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}